*{
    margin: 0;
    padding: 0;

}

:root{
--amarelo:#4E4F32;
--midamarelo:#EBEF31;
--amarelomeio:#C8CB1F;
--Azul:#282FD7;

}
.cabecario{
    background-color:#282FD7;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    align-items: center;


}
 .imagem-cabecario{
width: 100px

 }
 .itemlista {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

 }
 .escolaimg{
    width: 120px;
    height: 100px;


 }
 .escola{
    background-image:linear-gradient( #EBEF31, #5E63C7);
    display: flex;
    align-items: center;
    padding: 24px 0;
    color:#FFFFFF
 }
.escoola-div-conteudo{

   width: 50%;

}
.escola-titulo{

   padding: 24px 0;

}

