:root{
--amarelo:#4E4F32;
--midamarelo:#EBEF31;
--amarelomeio:#C8CB1F;
--Azul:#282FD7;

}
.cabecario{
    background-color: var(--amarelo);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}
 .imagem-cabecario{
width: 100px

 }
 .itemlista {
    display: inline-block;
    margin: 0 16px;

 }

