*{
    margin: 0;
    padding: 0;

}

:root{
--amarelo:#4E4F32;
--midamarelo:#EBEF31;
--amarelomeio:#C8CB1F;
--Azul:#282FD7;

}
.cabecario{
    background-color: var(--amarelo);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}
 .imagem-cabecario{
width: 100px

 }
 .itemlista {
    display: inline-block;
    margin: 5px 16px;
    font-size: 24px;

 }
 .escolaimg{
    width: 350px;
    height: 249px;


 }
 .escola{
    background-image:linear-gradient( #EBEF31, #5E63C7);
    display: flex;
    align-items: center;
    padding: 24px 0;
 }

